@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Alata", serif;
  font-style: normal;

}
h1, h2, h3, h4, h5, p, input, ::placeholder, span, a, button, section, div, textarea{
  font-family: "Alata", serif;
  font-style: normal;
  margin: 0.1rem 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* todolist css starts here  */

.todolist-main {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.todolist-container {
  width: 60%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist-box {
  width: 100%;
  text-align: center;
  background-color: #F2F1F0;
  padding: 2rem;
  /* display: flex; */
  height: 70vh;
  border-radius: 10px;
  border: 1px solid grey;
  overflow: hidden;
}
.todolist-box h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.todolist-boxcontainer {
  width: 80%;
  margin: auto;
}
.input-box form {
  display: flex;
  width: 100%;
}
.input-box {
  background-color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 30px;
  width: 100%;
  display: flex;
}
.input-box input {
  border: 0;
  width: 70%;
  font-size: 1rem;
  padding: 0.4rem 1rem;

}
.input-box input:focus {
  border: 0;
  outline: 0;
}
.input-box button {
  font-size: 0.9rem;
  background-color: #000;
  color: #fff;
  width: 30%;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
}
.input-box button:hover {
  color: black;
  background-color: #F2F1F0;
  /* border: 1px solid grey; */
}
ul {
  list-style: none;
}
.todo-lists {
  text-align: left;
  height: 60vh;
  overflow-y: scroll;
  padding: 1rem 0;

}
.todo-lists::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.todo-lists ul li {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  margin: 0.5rem;
}
.todo-lists ul li span {
  width: 70%;
}
.todo-lists ul li i {
  width: 30%;
}

/* todolist ends here  */

